
.heading{
     text-align: center;
     /* padding: 20px; */
     color: #121212;
   }
   
   .newServiceBtn {
     text-align: center;
     /* margin-bottom: 20px; */
   }
   
   button {
     background-color: var(--btn-bg-color);
     color: var(--btn-text-color);
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     margin-right: 10px;
   }
   
   button:hover {
     background-color: var(--primary-color);
   }
   
   .servicePage {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
     padding: 20px;
   }
   
   .ServiceCard {
     background-color: var(--btn-bg-color);
     color: var(--text-color);
     border-radius: 8px;
     padding: 20px;
     width: 300px;
     box-sizing: border-box;
     color: white;
   }
   
   .servicesImages img {
     width: 100%;
     height: auto;
     border-radius: 8px;
     margin-bottom: 10px;
   }
   
   .details {
     padding: 10px;
     
   }
   
   .ser_subDetails {
     display: flex;
     justify-content: space-between;
     margin-bottom: 10px;
     
   }
   
   .ser_subDetails span {
     font-size: 14px;
     
   }
   
   .details h2 {
     margin: 10px 0;
    
   }
   
   .details p {
     font-size: 14px;
     line-height: 1.5;
     margin-bottom: 10px;
     color: white;
   }