

.container{
     
}

.AdminLink{
     border: 2px solid blue;
     display: flex;
     justify-content: start;
     align-items: start;
     font-size: large;
}

.AdminLink >li{
     list-style: none;
     margin: 4px 15px;
}