.footer {
     background-color: #333;
     color: #fff;
     padding: 40px 0;
     text-align: left;
     font-family: Arial, sans-serif;
   }
   
   .footer .container {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
    
   }
   
   .footer h2, .footer h3 {
     margin-bottom: 20px;
     color: #fff;
   }
   
   .footer p {
     margin-bottom: 10px;
     line-height: 1.6;
     color: #fff;
     max-width: 90%;
   }
   
   .footer-about, .footer-links, .footer-contact {
     flex: 1;
     min-width: 250px;
     margin-bottom: 20px;
     color: #fff;

   }
   
   .footer-links ul {
     list-style: none;
     padding: 0;
     color: #fff;
   }
   
   .footer-links ul li {
     margin-bottom: 10px;
   }
   
   .footer-links ul li a {
     color: #fff;
     text-decoration: none;
     transition: color 0.3s;
   }
   
   .footer-links ul li a:hover {
     color: #1e90ff;
   }
   
   .social-media a {
     display: inline-block;
     margin-right: 10px;
   }
   
   .social-media img {
     width: 24px;
     height: 24px;
   }
   
   .footer-bottom {
     text-align: center;
     padding: 10px 20px;
     background-color: #222;
   }
   
   .footer-bottom p {
     margin: 0;
   }
   