.mainSection {
     display: flex;
     justify-content: space-evenly;
     margin-top: 5vh;
     box-shadow: 0 4px 8px rgba(194, 124, 124, 0.1);
     /* align-items: center; Centering items vertically */
     /* flex-wrap: wrap; Allows items to wrap on smaller screens */
   }
   
   .leftPart img {
     max-width: 50vh;
     height: auto;
   }
   
   .rightPart {
     width: 30vw;
     min-width: 300px; /* Minimum width to ensure it doesn't get too small */
   }


   .LoginLink:hover{
     text-decoration: underline;
     /* font-weight:700; */
     background: none;
     border: none;
     color: #007bff;
     cursor: pointer;
     padding: 0;
   }
   
   .formDetail {
     margin-top: 1rem;
     color: black;

     background: white;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   .formDetail h1{
     text-align: center;
   }
   .formDetail p{
     margin-block: 10px;
   }

   .formDetail > div {
     display: flex;
     flex-direction: column;
     color: black;
   }
   
   .formDetail > div > label {
     font-size: large;
     margin: 10px 0;
   }
   
   .formDetail > div > input {
     height: 2rem;
     width: 100%; /* Adjusted to fit the container */
     padding: 4px;
   }
   
   .formDetail > button {
     width: 100%; /* Adjusted to fit the container */
     height: 5vh;
     padding: .4em 0;
     border-radius: 5px;
     background-color: blue;
     color: white;
     margin-top: .3rem; /* Added margin for spacing */
   }
   
   .signupBtn {
     margin-left: 5px;
   }
   
   /* Media Queries */
   @media (max-width: 768px) {
     .mainSection {
       flex-direction: column;
       margin-top: 5vh;
       padding: 20px;
     }
     .formDetail{
          width: 70%;
     }
     .formDetail h1{
          text-align: center;
          text-align: start;
          margin-block:auto ;
        }
     
     .leftPart img {
          max-width: 80%;
          height: auto;
          margin-bottom: 4vh;
     }
   
     .rightPart {
       width: 80vw;
       min-width: unset;
     }
   
     .formDetail > div > input {
       width: 100%;
     }
   
     .formDetail > button {
       width: 100%;
     }
   }
   
   @media (max-width: 480px) {
     .mainSection {
       margin-top: 2vh;
       padding: 10px;
     }
   
     .rightPart {
       width: 90vw;
     }
   }
   